@model ProjetoAspNetCore.Domain.Models.Generico
@using ProjetoAspNetCore.Mvc.Infra.Enums
@using ProjetoAspNetCore.Mvc.Infra.TOs 

@{
    ViewBag.Title = "Edição do Genérico: [ " + Model.Nome.ToUpper() + " ]";
    Layout = null;
    TOConfiguracaoFormulario configuracaoFormulario = new TOConfiguracaoFormulario()
    {
        Titulo = ViewBag.Title,
        TipoDoFormulario = TipoFormulario.Editar,
        Dado = Model
    };
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">MedicalSystem</h4>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-horizontal">
                        <montar-formulario configuracao="@configuracaoFormulario"></montar-formulario>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Atualizar" class="btn btn-success" />
                    <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
                </div>
        }
    </div>
</div>
