@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = null;
    ViewData["Title"] = "SysMed - Home";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Menu | MedicalManagement-Sys - Management</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">

    <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/icons.css" rel="stylesheet" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/plugins.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="/css/custom.css" rel="stylesheet" />


    <link href="/css/cooperchip/box-img-text.css" rel="stylesheet" type="text/css" />

    <link href="/Content/fullcalendar.css" rel="stylesheet" />
    <link href="/Content/fullcalendar.print.css" rel="stylesheet" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="icon" href="/img/ico/favicon.ico" type="image/png">
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body>
    <div class="container">
        <div class="animated fadeInDownBig">
            <div class="panel panel-primary toggle mt20">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <div style="padding: 25px; margin: 25px; vertical-align: central">
                        <div style="margin: 0 auto; float: left;">
                            <div class="row col-lg-12 col-md-12 col-sm-12">
                                <div id="page-header" class="clearfix">
                                    <div class="page-header">

                                        <partial name="_LoginPartial" />

                                        <div>
                                            <a href="#" title="MedicalManagement-Sys - Home"><img src="/images/logo-pages.png" /></a>
                                        </div>
                                    </div>
                                    <div class="wrapper">
                                        <br />
                                        <div class="row text-md-center text-sm-center text-xs-center">
                                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                            {
                                                <index-home titulo=".:: Entrar-Admin ::." imagem="dashboard.png" controlador="Home" visualizacao="Dashboard"></index-home> }
                                            else
                                            {
                                                <index-home titulo=".:: Entrar-Comum ::." imagem="dashboard.png" controlador="Home" visualizacao="BoxInit"></index-home>
                                            }                                                
                                            <index-home titulo="Registro de Pacientes" imagem="atualizacao_cadastral.png" controlador="Home" visualizacao="Paciente"></index-home>
                                            <index-home titulo="Agenda" imagem="calendar.png" controlador="AgendaCalendar" visualizacao="Index"></index-home>
                                            <index-home titulo="Chamada Médico" imagem="examesdeimagens.png" controlador="Home" visualizacao="ChamadaMedico"></index-home>

                                        </div>

                                        <div class="row text-center">
                                            <index-home titulo="Prontuários" imagem="evolucao.png" controlador="Prontuario" visualizacao="ListaProntuario"></index-home>
                                            <index-home titulo="Unidade Geográfica" imagem="prescricao.png" controlador="UniGeog" visualizacao="Listar"></index-home>
                                            <index-home titulo="Base de Conhecimento" imagem="sinais_vitais.png" controlador="Home" visualizacao="BaseDeConhecimento"></index-home>
                                            <index-home titulo="Mural de Avisos" imagem="mural.png" controlador="Mural" visualizacao="Index"></index-home>
                                        </div>

                                        <div class="row text-center">
                                            <index-home titulo="Int. Medicamentosas" imagem="interacao_medicamentosa.png" controlador="Home" visualizacao="InteracaoMedicamentosa"></index-home>
                                            <index-home titulo="Controle de Acesso" imagem="niveldeacesso.png" controlador="RolesAdmin" visualizacao="Index"></index-home>
                                            <index-home titulo="Adm de Usuários" imagem="users.png" controlador="UsersAdmin" visualizacao="Index"></index-home>
                                            <index-home titulo="Configurações" imagem="config.png" controlador="Configuracoes" visualizacao="Index"></index-home>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer">
            <p class="text-center">&copy;2021 / @DateTime.Now.Year - Copiyrigh SysMed - Todos os direitos reservados</p>
        </div>
    </div>

    <!-- Important javascript libs(put in all pages) -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-2.1.1.min.js">\x3C/script>')</script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')</script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/libs/excanvas.min.js"></script>
    <script type="text/javascript" src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="/js/libs/respond.min.js"></script>
    <![endif]-->

    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/forms/validation/jquery.validate.js"></script>
    <script src="/plugins/forms/validation/additional-methods.min.js"></script>
    <script src="/js/pages/login.js"></script>

</body>
</html>