
<li>
    <a asp-controller="Home" asp-action="Index"><i class="l-basic-home"></i><span class="txt">Index</span></a>
</li>

<li>
    <a asp-controller="Home" asp-action="Dashboard"><i class="l-basic-laptop"></i><span class="txt">Dashboard</span></a>
</li>

<li>
    <a asp-controller="Home" asp-action="Contato"><i class="l-basic-mail"></i><span class="txt">Fale Conosco</span></a>
</li>

<li>
    <a asp-controller="Paciente" asp-action="Index"><i class="l-basic-chronometer"></i><span class="txt">Pacientes</span></a>
</li>

<li>
    <a asp-controller="EstadoPaciente" asp-action="Index"><i class="l-basic-accelerator"></i><span class="txt">Estado Pacientes</span></a>
</li>

<li>
    <a asp-controller="Generico" asp-action="Index"><i class="l-basic-accelerator"></i><span class="txt">Genéricos</span></a>
</li>
